* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(72, 72, 72);
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#playerImage,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#enemy_spider_big,
#enemy_plant,
#enemy_fly,
#fire,
#collisionAnimation,
#lives {
  display: none;
}

#startButton, #restartButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

#restartButton {
  width: 32px;
  display: none;
  transform: translate(-50%, 100%);  
}

#restartButton img {
  width: 100%;
}

#startButton:hover,
#restartButton:hover {
  cursor: pointer;
}

#resumeButton, #pauseButton{
  display: none;
}

#start_background {
  display: none;
}

.grow{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.grow:hover{
  transform: scale3d(1.5, 1.5, 0.3);
      -webkit-transform: scale3d(1.5, 1.5, 0.3);
      -moz-transform: scale3d(1.5, 1.5, 0.3);
}
